<li class="nav-item px-3">
    <a class="nav-link {active}" href='{basePath}{ to }' on:click='navigate(event, to)'>
        <slot></slot>
    </a>
</li>

<script>
    import roadtrip from "roadtrip";

    const activedClassName = "active";

    export default {
      data() {
        return {
          to: "/",
          basePath: basePath,
          active: "",
          location: "",
          item: null
        };
      },
      onupdate({ changed, current }) {
        if (changed.location) {
          this.setActivedClass(current.location);
        }
      },
      methods: {
        navigate($e, to) {
          if ($e && $e.preventDefault) $e.preventDefault();
          // console.log('roadtrip.RouteData', roadtrip.RouteData);
          const { item } = this.get();
          if (item) {
            this.fire("itemClick", event, item);
          } else if (to) {
            roadtrip.goto(basePath + to);
          }
        },
        setActivedClass(location) {
          const { basePath, to } = this.get();
          if (location === `${basePath}${to}`) {
            this.set({ active: activedClassName });
          } else {
            this.set({ active: "" });
          }
          console.log("setActivedClass (location)", location, `${basePath}${to}`);
        }
      }
    };
</script>