<div id='app-root' class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <MenuComponent ref:menu />
        </div>
        <div class="col-sm-9">
            <div id="app"></div>
        </div>
    </div>
</div>

<script>
    import MenuComponent from '../navmenu/navmenu.html';
    import Routes from '../../routes';

    export default {
        components: {
            MenuComponent
        },
        oncreate () {
            const target = document.querySelector('#app');
            new Routes(target);
            // console.log('router', router);
        },
    };
</script>
